<html>
<head>
	<title>Debate Matchups</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div class="container">
		<h1>Welcome to Debate Match</h1>
		<a class="btn" href="/matchup">Debate Matchups</a>
		<a class="btn" href="/ranking">Ranked List</a>
		<a class="btn" href="https://drive.google.com/open?id=1mS_oP6hX4O1marPqGi94V5rQG_ML3RS8">Speech Bank</a>
		<a class="btn" href="https://docs.google.com/document/d/1FcwKNcFlRTilxrsX512p8OZZMojrpittEn0Bot0bfuM/edit">Mental Models</a>
	</div>
	{% include "disclaimer.html" %}
</body>